* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    color-scheme: light dark;

    --dark-color:hsl(0, 0%, 0%);
    --light-color:hsl(0, 0%, 100%);
}

[data-dark="true"] {
    color-scheme: dark;
}
[data-dark="false"] {
    color-scheme: light;
}

html, input, textarea {
    color: light-dark(var(--dark-color), var(--light-color));
    background-color: light-dark(var(--light-color), var(--dark-color));
}

input, textarea {
    border: 1px solid light-dark(var(--dark-color), var(--light-color) );
}

h1, h2 { color: light-dark( #110E47, #DBE3FF)}

.detail--section {
    background-color: light-dark( white, black);
}


img {
    width: 100%;;
    object-fit: cover;
}

