@import url(./layout.css);
@import url(./base.css);

h1, h2 {
    /* color: #110E47; */
    font-size: 1rem;
}


/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 2.375rem;
    height: 1.313rem;
   }
   
   /* Hide default HTML checkbox */
   .switch input {
    opacity: 1;
    width: 0;
    height: 0;
   }
   
   /* The slider */
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background: #AAA9B1;
    transition: .4s;
    border-radius: 30px;
    border: 1px solid transparent;
   }
   
   .slider:before {
    position: absolute;
    content: "";
    height: 1.125rem;
    width: 1.125rem;
    border-radius: 16px;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    transition: .4s;
   }
   
   input:checked + .slider {
    background-color: #ffffff;
    border: 1px solid transparent;
   }
   
   input:checked + .slider:before {
    transform: translateX(100%);
    background-color: #000000;
   }

   

.nowShowing--card {
    flex-shrink: 0;  
    width: 8.9rem; 
    margin-right: 1rem;
}

.nowShowing--poster {
   height: 13.25rem;
   border-radius: 0.5rem;
}

.nowShowing--list h3, .popular--card h3 {
    font-size: 0.875rem;
}

.movie--rating {
    font-size: 0.75rem;
}


.seemore {
    width: 3.81rem;
    height: 1.31rem;

    font-size: 0.63rem;
    color: #AAA9B1;

    border-radius: 1rem;
    border: solid 1px #AAA9B1;
    background-color: transparent;
}



.popular--card {
    width: 19rem;
    height: 7.5rem;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2.5rem 2.5rem 2.5rem;
}

.popular--poster {
    width: 5.313rem;
    height: 7.5rem;

    grid-row-start: 1 ;
    grid-row-end: -1;

    border-radius: 0.5rem;
}








/* ---------- detailed view styling ----------
   ------------------------------------------- */


   .back {
    background-color: transparent;
    border: none;
   }


    .info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .info p{
        font-size: 0.9rem;

        color: #9C9C9C;
    }

    .language {
        grid-column: 2;
        grid-row: 1;
    }

    .agerating {
        grid-column: 3;
        grid-row: 1;
    }


    .detail--section {
        border-radius: 1rem;
    }


   .detail--poster { 
    position: absolute;
    height: 18.75rem;
  left: 0px;
  top: 0px;
  z-index: -1;
   }


   .detail-name {
    font-size: 1.25rem;
   }

   .genre {
    
    
    font-size: 0.5rem;
    font-weight: bold;
    color: #88A4E8;
    

    background-color: #DBE3FF;
    padding: 0.2rem;

    border-radius: 1rem;
    border: none;
   }




@media (width > 22.5rem){

}